
.Weather {
    font-family: Tahoma (sans-serif);
    border: 1px solid #dadde1;
    padding: 20px;
    border-radius: 4px;
    background-color: #f5deb3;
    
}

.Weather h1 {
    font-weight: 100;
    margin: 20px 0 0 0;
    
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}

.main-display {
    margin: auto;
    padding: 30px;
}
.city, .date{
    display: flex;
    justify-content: center;
    
}

.city {
    font-size: 32px;
}

.date {
    font-size: 28px;
}

.displayIcon {
    margin: auto;
    padding: 30px;
}